@import '../Components/Stars/style.styl'
@import '../Components/ProductTitle/style.styl'
@import '../Components/Login/style.styl'
@import '../Components/Registration/style.styl'
@import '../Components/Product/style.styl'

body
    max-width: 75%
    margin: 0 auto
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/I9MWSDR/blue-gradient-loop_ey_svynqx__F0000.png')
    color: #fff