.formLogin
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black
    .formTitle
        background: #fff
        border-radius 5%
        display: flex;
        flex-direction: column;
        align-items: center;
    .btn
        margin-bottom:  7px
    