.row
    .container
        border: 2px solid #17a2b8
        margin: 2px 0 2px 0
        width: 100%
    .col
        .productInfo
            h2
                border-bottom: 2px solid black
            .description
                font-size 20px
                margin-top 10px
                font-family 'Garamond'
                border-bottom: 2px solid black